<section class="banner">
    <owl-carousel-o [options]="customOptions" class="full_height owl_slide_full owl_item_full big_square_nav">
        <ng-template carouselSlide>
          <div class="slide_image"><img src="assets/img/slider/slide-1.jpg" alt="Slider-1" class="w-100 h-100 object_cover" /></div>
        </ng-template>  
        <ng-template carouselSlide>
          <div class="slide_image"><img src="assets/img/slider/slide-2.jpg" alt="Slider-2" class="w-100 h-100 object_cover" /></div>
        </ng-template>  
        <ng-template carouselSlide>
          <div class="slide_image"><img src="assets/img/slider/slide-3.jpg" alt="Slider-3" class="w-100 h-100 object_cover" /></div>
        </ng-template>  
      </owl-carousel-o>
</section>